<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Eczane_Oto.Properties.Settings.eczane_otomasyonConnectionString"
            connectionString="Data Source=KOSEYUNUS\SQLEXPRESS;Initial Catalog=eczane_otomasyon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="localhost_eczane_otomasyon_baglantim" connectionString="XpoProvider=MSSqlServer;data source=KOSEYUNUS\SQLEXPRESS;integrated security=SSPI;initial catalog=eczane_otomasyon" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>